
 body
{
background-image:url(./images/bully.jpeg);
background-size: 95vw 100vh; /* ancho y altura del viewport CSS 3*/
}

form
{
width:300px;
margin: auto;  /* para centrar el formulario */    
background: rgb(226, 222, 222); 
opacity: 0.7;
padding: 10px 20px;  
box-sizing: border-box;    
margin-top: 20px;
border-radius: 7px;  /* ESQUINAS REDONDAS */
}

image
{
margin: auto;
width: 100%;
}

h2
{
color: black;  /*Genera color blanco */
font-weight: bold;
text-align: center;
font-size: 30px;
margin-bottom: 20px;     
}

div {
display: inline-block;
margin:auto;
width: 48%
}

input
{
background-color: cornflowerblue;
color:black;
font-weight: bold;
width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;    
}

.boton{
    border-radius: 1px pink;
}